@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :where(ul, ol) {
    list-style: none;
  }

  :where(img, video) {
    display: block;
    max-width: 100%;
    height: auto;
  }

  :where(button, input, select, textarea) {
    font: inherit;
    color: inherit;
  }

  :where(table) {
    border-collapse: collapse;
    border-spacing: 0;
  }

  :where(fieldset) {
    border: none;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-weight: 600;
  }
}
