@layer utilities {
  [data-auy-ut~="overflow-auto"] {
    overflow: auto;
  }

  [data-auy-ut~="overflow-x-auto"] {
    overflow-x: auto;
  }

  [data-auy-ut~="overflow-y-auto"] {
    overflow-y: auto;
  }

  [data-auy-ut~="overflow-hidden"] {
    overflow: hidden;
  }
}
