@layer utilities {
  [data-auy-ut~="content-visibility-auto"] {
    content-visibility: auto;
    contain-intrinsic-size: 1px 200px;
  }

  [data-auy-ut~="contain-layout-style"] {
    contain: layout style;
  }

  [data-auy-ut~="contain-strict"] {
    contain: strict;
  }

  [data-auy-ut~="contain-content"] {
    contain: content;
  }

  [data-auy-ut~="content-visibility-hidden"] {
    content-visibility: hidden;
  }
}
