@layer utilities {
  [data-auy-ut~="scrollbar-stable"] {
    scrollbar-gutter: stable;
  }

  [data-auy-ut~="scrollbar-thin"] {
    scrollbar-width: thin;
  }

  [data-auy-ut~="scrollbar-none"] {
    scrollbar-width: none;
  }

  [data-auy-ut~="scrollbar-none"]::-webkit-scrollbar {
    display: none;
  }
}
