@layer utilities {
  [data-auy-ut~="truncate"] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  [data-auy-ut~="truncate-multiline"] {
    display: -webkit-box;
    -webkit-line-clamp: var(--truncate-lines, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
